<!--
    File: about.html
    Author: Khai Duc Pham (khaipduc@bu.edu), 9/16/2026
    Description: Template for displaying information about the application.
-->
{% extends 'base.html' %}
{% block content %}
<div class="content">
    <header>
        <h1>About Nelson Mandela</h1>
    </header>

    <p>
        <a href="https://en.wikipedia.org/wiki/Nelson_Mandela" target="_blank">Nelson Mandela</a> 
        spent 27 years in prison for fighting South Africa's
        brutal system of racial segregation. After his
        release, he guided a peaceful transition to democracy and won the
        Nobel Peace Prize before becoming the nation's first Black president!!!
    </p>

    <p>
        And the creator of this application is me, Khai Pham, class of 2028. 
        I chose Nelson Mandela because back in highschool, my skin tone is so dark compared 
        to others that I got nicknamed "Nelson Mandela"
    </p>
</div>

{% endblock %}